/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Secondary: #CDE0E7;
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--HeroImage: url('../Images/Hero-Image.png');
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/Logo.png');
	--LogoImagePrint: url('../Images/Logo.svg');
	--Primary: #ffffff;
	--Medium: #a9a9a9;
	--Dark: #000000;
	--Darkest: #a9a9a9;
}

